<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mhealth.nishauri">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@drawable/nishauri_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">
        <activity
            android:name=".Activities.ChatInterface2"
            android:exported="false" />

        <receiver
            android:name=".utils.ScreenLockReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activities.PassCodeActivity"
            android:exported="false" />
        <activity
            android:name=".utils.CompleteSurveyActivity"
            android:exported="false" />
        <activity
            android:name=".utils.QuestionsActivity"
            android:exported="false" />
        <activity
            android:name=".utils.PrivacyActivity"
            android:exported="false" />
        <!--
 <service
            android:name=".utils.MonitorOtherAppsService"
            android:exported="false" />
        -->
        <activity
            android:name=".utils.InformedActivity"
            android:exported="false" />
        <activity
            android:name=".utils.LastConsent"
            android:exported="false" />
        <activity
            android:name=".utils.SelectSurvey"
            android:exported="false" />
        <activity
            android:name=".Activities.Auth.LoginPsurvey"
            android:exported="false" />
        <activity
            android:name=".oneActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ProfileOTP"
            android:exported="false" />
        <activity
            android:name=".Activities.ART_Activity"
            android:exported="false" />
        <activity
            android:name=".utils.SelectUrls"
            android:exported="false" />
        <activity
            android:name=".Fragments.Appointment.UpcomingAppointmentNew"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".NewPassword"
            android:exported="false" />
        <activity
            android:name=".otpcodeActivity"
            android:exported="false" />
        <activity
            android:name=".PasswordReset"
            android:exported="false" />
        <activity
            android:name=".Activities.Bmi"
            android:exported="false" />
        <activity
            android:name=".utils.HomeActivitySurvey"
            android:exported="false" />
        <activity
            android:name=".Activities.ChatInterface"
            android:exported="false" />
        <activity android:name=".Activities.Auth.SignUpActivity" />
        <activity
            android:name=".Activities.Auth.LoginActivity"
            android:label="@string/login" />
        <activity
            android:name=".Activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="DATABASE"
            android:value="nishauridb.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
    </application>

</manifest>